@font-face {
	font-family: "SEGA LOGO FONT";
	font-style: normal;
	font-weight: normal;
	src:
		local("SEGA LOGO FONT"),
		url("/src/SEGA.woff") format("woff");
}
#one {
	padding: 16px;
	font-family: "SEGA LOGO FONT";
	font-weight: 200;
	color: #0ccac4;
	font-size: 35px;
}

.SearchBox {
	padding: 0.3rem;
	text-align: left;
}
.Title {
	text-align: center;
	font-size: 0.7rem;
	background: linear-gradient(
		to left,
		rgba(7, 27, 82, 1) 0%,
		rgba(0, 128, 128, 1) 100%
	);
}

.SearchBox {
	padding: 1.1rem;
	width: 10rem;
	height: 0.2rem;
	border: 0.1rem solid green;
	background-color: lightblue;
	font: 1em sans-serif;
	font-size: 0.7rem;
	color: grey;
}
#root {
	margin: -25px;
}
