.start {
	display: inline-block;
	background-color: lightgreen;
	margin: 1rem;
	padding: 1rem;
	border-radius: 1.5rem;
	text-align: center;
	width: 17rem;
	height: 25rem;
	overflow: hidden;
}
.start:hover {
	box-shadow:
		3px 3px grey inset,
		-1em 0 0.4em grey;
}
#root {
	margin: 0;
	padding: 0;
}
